/* Grey */
$body-color: #EEEEEE;
$light-grey: #CCCCCC;
$grey: #666666;
$dark-grey: #404040;

/* Turquoise */
$light-turquoise: #21B6A8;
$dark-turquoise:  #028482;

/* Red */
$light-red: #FFCCCB;
$dark-red: #AA0114;

/* Green */
$light-green: #E1EDCF;
$light-green: #669966;
